.login-container {
    background-color: #FF8328;
    width: 414px;
    height: 896px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-container h3 {
    color: rgb(248, 248, 248);
}

.login-container img {
    width: 300px
}