.form-container{
    display: flex;
    flex-direction: column;
}

.button-add-product{
    background-color: rgb(250, 136, 7);
    height: 40px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace, Helvetica, sans-serif;
    cursor: pointer;
    color: #FFF;
    font-size: .9rem;
}